includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app

    level: 9

    checkOctaneCompatibility: true
    checkModelProperties: true
    parseModelCastsMethod: true
